.octo-form-svg {
  position: relative;

  .octo-form-svg__image {
    height: 150px;
    width: 150px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--octo-radius-default);
    border: 1px dashed var(--octo-muted-500);
    background-color: white;
    .preview {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}


.octo-form-image-file {
  position: relative;

  .octo-form-image-file__image {
    height: 300px;
    width: 300px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--octo-radius-default);
    border: 1px dashed var(--octo-muted-500);
    background-color: white;
    .preview {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}