.octo-form__flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-col {
    flex-direction: column;
  }
}

.octo-form__inset-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.octo-aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.octo-aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.octo-form__fields-gap {
  margin-bottom: 1.25rem;
}

.octo-form__buttons {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.octo-form__confirm-btn {
  margin-left: auto;
}

.octo-form-partition {
  width: 100%;
  border-top: 1px solid var(--octo-text-muted);
}


.octo-form-section {
  display: flex;
  align-items: center;

  * + * {
    margin-left: 0.5rem;
  }
}